<% layout('../layouts/default.ejs')  -%>
<div class="search-box row">
    <form class="form-horizontal" role="form" method="get" action="/search/results">
      <input type="text" name="query" class="form-control" placeholder="Search Literature">
      <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>
