<% layout('../layouts/default.ejs') -%>
<div class="row">
  <div id="resultsPanel" class="col-md-6 col-md-offset-1">
    <div id="resultStats">
      <small>About 15 results (0.34 seconds) </small>
    </div>
    <div id="searchResults">
      <ul class="list-unstyled">
        <li>
          <h4><a href="/literature/1">A view of cloud computing</a></h4>
          <p>
            Cloud computing, the long-held dream of computing as a utility, has the potential to transform a large part of the IT industry, making software even more attractive as a service and shaping the way IT hardware is designed and purchased. Developers with innovative ideas for ...
          </p>
        </li>
        <li>
          <h4><a href="/literature/1">A view of cloud computing</a></h4>
          <p>
            Cloud computing, the long-held dream of computing as a utility, has the potential to transform a large part of the IT industry, making software even more attractive as a service and shaping the way IT hardware is designed and purchased. Developers with innovative ideas for ...
          </p>
        </li>
        <li>
          <h4><a href="/literature/1">The NIST definition of cloud computing (draft)</a></h4>
          <p>
            The National Institute of Standards and Technology (NIST) developed this document in furtherance of its statutory responsibilities under the Federal Information Security Management Act (FISMA) of 2002, Public Law 107-347.
          </p>
        </li>
        <li>
          <h4><a href="#">A performance analysis of EC2 cloud computing services for scientific computing</a></h4>
          <p>
            Abstract. Cloud Computing is emerging today as a commercial infras- tructure that eliminates the need for maintaining expensive computing hardware. Through the use of virtualization, clouds promise to address with the same shared set of physical resources a large user base with ...
          </p>
        </li>
        <li>
          <h4><a href="#">Market-oriented cloud computing: Vision, hype, and reality for delivering it services as computing utilities</a></h4>
          <p>
            Abstract This keynote paper: presents a 21 st century vision of computing; identifies various computing paradigms promising to deliver the vision of computing utilities; defines Cloud computing and provides the architecture for creating market-oriented Clouds by ...
          </p>
        </li>
        <li>
          <h4><a href="#">Cloud computing and grid computing 360-degree compared</a></h4>
          <p>
            Abstract Cloud computing has become another buzzword after Web 2.0. However, there are dozens of different definitions for cloud computing and there seems to be no consensus on what a cloud is. On the other hand, cloud computing is not a completely new concept; it ...
          </p>
        </li>
      </ul>
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
  </div>
</div>