<% layout('../layouts/default') -%>
<div id="signin-section">
  <form class="form-horizontal" method="post" action="/users/session">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="email" required="required" class="form-control" id="inputEmail" name="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" required="required" class="form-control" id="inputPassword" name="password" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
        <a class="" href="/signup" title="No account yet?">Sign up</a>
      </div>
    </div>
    <div class="form-group">
      <% if (message.length > 1) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Sorry! </strong> <%=message %>
        </div>
        <% } %>
    </div>
  </form>
</div>