<% layout('layouts/default') -%>
<h3>Whoops, Something went wrong.</h3>
<div class="container">
  <img src="/img/404.png" />
  <div>
    404 Error, The page you are looking for is not Available.
  </div>
</div>
